*{
  background-color:#7a7c33;
  font-family: "Fugaz One";
  color: #393d42;
  text-align: center;
}

.styled-select {
   border: none;
   overflow: hidden;
   background: #7c5a33;
   font-family: 'Fugaz one';
   border: none;
   width: 34%;
   margin:0% 37%;
   border-radius: 700;
}

.form-control, .range {
  background-color: #7c5a33;
  border: none;
  width:100%;
  border-radius: 700px;
  background: #7c5a33;
}

.fa-balance-scale {
  width: 200px;
  height: 200px;
}
#input{
  margin:0% 10%;
}
.add{
  width: 150px;
  border-radius: 300px;
  background-color: #7c5a33;
  border: none;
}


.p-header{
  height: 10%;
  width: 100%;
  margin:0;
  padding: 0;
  display: inline-block;
}

.paper{
  display: inline-block;
}
.row{
  padding: 5%;
  width: 100%;
}
#title{
  font-size: 2.5em;
}

.btn{
  width:100%;
}
.nav-wrapper{
  display: inline-block;
}

img{
  width: 40px;
  height: 40px;
}
h1{

  font-size: 3em;
  font-family: "Fugaz One";
  margin: 0;
  padding: 0;

}
line{
  width: 200px;
  height: 20px;
  background-color:  #7c5a33;
}
#labels{
padding: 5%;
font-size: 30px;
font-family: "Fugaz One";
float: right;
position: relative;
z-index: 1;
}